body {
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 6, 80, 0.591);;
    align-items: center;
    justify-content: center;
}

.calc-body {
    display: flex;
    flex-direction: column;
    border: 10px solid;
    border-radius: 18px;
    width: 550px;
    height: 650px;
    margin-top: 80px;
    background-color: darkgray;
}

.screen {
    display: flex;
    align-self: center;
    border: 3px solid;
    border-radius: 18px;
    width: 450px;
    height: 100px;
    margin-top: 25px;
    background-color: aliceblue;
    text-align: right;
    font-size: 50px;
}

.nums {
    margin-bottom: -30px;
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
}

.remove {
    display: flex;
    align-self: center;
    border-radius: 18px;
    width: 450px;
    height: 60px;
    margin-top: 15px;
    gap: 20px;
}

.clear,
.delete {
    width: auto;
    border: 3px solid;
    border-radius: 8px;
    font-size: 25px;
}

.clear {
    margin-right: auto;
    flex: auto;
    background-color: rgba(40, 42, 171, 0.591);
}

.delete {
    margin-left: auto;
    flex: auto;
    background-color: rgba(194, 41, 41, 0.591);
}

.operations {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    border-radius: 18px;
    width: 450px;
    height: 400px;
    margin-bottom: 25px;
    gap: 10px;
}

.digits,
.operation {
    font-size: large;
    font-weight: 600;
    border: 3px solid;
    height: 90px;
    width: 100px;
    flex: auto;
    border-radius: 8px;
    background-color: rgba(199, 214, 85, 0.801);
}